<div class="main-content" *ngIf="user">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" placeholder="Company" value="Creative Code Inc.">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label for="username" >Username</label>
                  <input type="text" class="form-control" name="username" value={{user.username}}  readonly>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control"  name="email" value={{user.email}}  readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" name="firstName" value={{user.firstName}} [(ngModel)]=user.firstName >
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="lastName" value={{user.lastName}} [(ngModel)]=user.lastName >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" name="address" value={{user.address.address}} [(ngModel)]=user.address.address>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" name="city" value={{user.address?.city}} [(ngModel)]="user.address.city">
                </div>
              </div>
              <!-- <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" name="country" value={{user.address.country}} [(ngModel)]=user.address.country>
                </div>
              </div> -->
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" name="zipCode" value={{user.address?.zipCode}} [(ngModel)]=user.address.zipCode>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" name="aboutMe" value={{user.aboutMe}} [(ngModel)]=user.aboutMe></textarea>
                </div>
                <button type="button" class="btn btn-primary" (click)=save()>save</button>

              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="img-wrapper">
              <img class="rounded" [src]=imageUrl *ngIf=imageUrl>
              <div class="img-overlay">
                <label class="btn btn-md btn-success custom-img">
                  <input type="file" (change)="selectFileAndUpload($event)" />
                </label> 
              </div>
            </div>
              <h4 class="title">{{user.username}}</h4>
          </div>
          <p class="description text-center">
            {{user.aboutMe}}
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>