.custom-card {
    margin-bottom: 15px;
}
.custom-bookmark {
    margin-left: 800px;
}
.both{
    display: flex;
}
#author{
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 10px;
}
#title{
    margin-top: 10px;
}
