.main-content {
    margin-top: 15px;
}

.author img {
    width: 100%;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.title {
    margin-top: 10px;
}

.custom-follow {
    margin-left: 100px;
}