<div class="card mb-3 card-custom">
    <img src="assets/img/test.jpeg" height="500" width="1107.5" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.content}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="goBack()">
        back
    </button>
    </div>
  </div>