<div class="main-content" *ngIf=article>
  <div class="row">
    <div class="col-md-8">
        <div class="card mb-3 card-custom">
          <img src="assets/img/test.jpeg" height="400" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.content}}</p>
            <p class="card-text"><small class="text-muted">Last updated {{article.createdAt}}</small></p>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"
              (click)="goBack()">
              back
            </button>
          </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <img src="../assets/img/H.jpg" class="rounded">
            <h4 class="title">{{article.author.firstName}} {{article.author.lastName}}</h4>
            <!-- <p class="description">
            michael24
          </p> -->
          </div>
          <p class="description text-center">
            {{article.author.aboutMe}}
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
          <button type="button" class="btn btn-outline-info custom-follow">Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>